.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 92px 0 24px;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  opacity: 0.7;
}
