.lead {
  width: 100%;
  max-width: 984px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lead__title {
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
}

.lead__subtitle {
  margin: 32px 0 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 720px;
}

/* Picture wrapper */
.lead__media {
  width: 100%;
  max-width: 984px;
  display: block;
}

.lead__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* <= 1024px (tablet) */
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 720px;
  }

  .lead__media {
    max-width: 720px;
  }

  .lead__title {
    font-size: 72px;
    line-height: 1.06;
  }

  .lead__subtitle {
    margin-bottom: 48px;
    font-size: 24px;
  }
}

/* <= 544px (mobile) */
@media screen and (max-width: 544px) {
  .lead {
    max-width: 288px;
    padding-top: 50px;
  }

  .lead__media {
    max-width: 288px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    margin: 16px 0 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
