.page {
  margin: 0;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: "Inter", Arial, sans-serif;
    min-height: 100vh; /* ← aquí ahora */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
