.photo-grid {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto 92px;
}

.photo-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.photo-grid__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 768 */
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 24px 88px;
  }

  .photo-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 0 16px 64px;
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
