.places {
  width: 100%;
  max-width: 984px;
  padding: 0 0 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 0 24px 88px;
    gap: 72px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .places {
    padding: 0 16px 64px;
    gap: 50px;
  }
}
